root_path = "."

watch_target_dirs = ["server", "core"]
watch_exclude_dirs = [".git"]
watch_file_ext = [".go"]
watch_file_exclude_pattern = []

# Env vars can be used in build_target_dir, build_target_name,  build_command,
# build_options, start_options
build_target_dir = "$GOPATH/bin"
build_target_name = "myserver"
build_command = "go"
build_options = ["build", "-v"]

# start command will be `build_target_dir/build_target_name start_options`
# in this case $GOPATH/bin/myserver -v
start_options = ["server", "--config", "./example/pahoa.yaml"]

# default true, but it's possible to make this fale, when
# running a program that doesn't persist as a process
restart_process = true
